@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    scroll-padding-top: 200px;
    scroll-behavior: smooth;
    /* font-size: 0.95rem; */
  }

  html {
    @apply font-body;
  }

  p {
    @apply font-body;
  }
}
.react-international-phone-country-selector-button {
  padding: 0 16px !important;
}

.body-parser h1 {
  @apply text-3xl font-bold text-black mb-4;
}
.body-parser h2 {
  @apply text-xl md:text-2xl font-semibold text-gray-800 mb-3;
}
.body-parser h3 {
  @apply text-lg md:text-xl font-semibold text-gray-800 mb-3;
}
.body-parser p {
  @apply text-base text-gray-700 mb-2;
}
.body-parser ul {
  @apply list-disc pl-5 mb-4;
}
.body-parser li {
  @apply text-base text-gray-700 mb-2;
}
.body-parser a {
  @apply text-base text-blue-600 underline break-words;
}
.body-parser img {
  @apply rounded-lg;
}

.grecaptcha-badge {
  display: none !important;
  /* left: 0 !important;
    right: auto !important;
    z-index: 19 !important; */
}
