services:
  server:
    build: 
      context: .  
      dockerfile: Dockerfile
    ports:
      - '8080:8080'
    stdin_open: true
    tty: true  # Keeps the container running for debugging
    env_file:
      - .env

