services:
  server:
    build: 
      context: .  
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    stdin_open: true
    tty: true  # Keeps the container running for debugging
    env_file:
      - .env
    networks:
      - prisma-network

networks:
  prisma-network:
    name: prisma-network
